{% extends "DFA/base.html" %}

{% block base-content %}
      <!-- Main component for a primary marketing message or call to action -->

      <div class="col-md-6"> 
      <div class="jumbotron">
        <h1>Navbar example</h1>
      </div>
      </div>
      <div class="col-md-6"> 
      <div class="jumbotron">
        <h1>Navbar example</h1>
      </div>
      </div>

      <div class="container">

      <div class="col-md-4">
        
      <form role="form">

        <div class="form-group">
          <label class="sr-only" for="directoryInput">Path to Directory</label>
          <input type="text" class="form-control" id="directoryInput" placeholder="Path to Directory">
        </div>

        <div class="form-group">
          <label class="sr-only" for="disabledSelect">Disabled select menu</label>
          <select class="form-control dfa-select">
          <!-- for loop here  -->
            <option>hi my name is this is pretty long</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>        
        </div>

        <div class="form-group">
          <label class="sr-only" for="disabledSelect">Disabled select menu</label>
          <select class="form-control">
          <!-- for loop here  -->
            <option>hi my name is this is pretty long</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>        
        </div>

        <button type="submit" class="btn btn-default">Create Graph</button>
      </form>

      </div>

      <div class="col-md-4"> </div>

      <div class="col-md-4"> 
            <form role="form">

        <div class="form-group">
          <label class="sr-only" for="directoryInput">Path to Directory</label>
          <input type="text" class="form-control" id="directoryInput" placeholder="Path to Directory">
        </div>

        <div class="form-group">
          <label class="sr-only" for="disabledSelect">Disabled select menu</label>
          <select class="form-control dfa-select">
          <!-- for loop here  -->
            <option>hi my name is this is pretty long</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>        
        </div>

        <div class="form-group">
          <label class="sr-only" for="disabledSelect">Disabled select menu</label>
          <select class="form-control">
          <!-- for loop here  -->
            <option>hi my name is this is pretty long</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>        
        </div>

        <button type="submit" class="btn btn-default">Create Graph</button>
      </form>
      </div>
  

      </div>
           
{% endblock base-content %}