{% extends "DFA/base.html" %}

{% block graph-active %} class="active" {% endblock graph-active %}

{% block base-content %}
      <!-- Main component for a primary marketing message or call to action -->

      {% if graph %}
    <link href="/static/css/{{graph}}.css" rel="stylesheet">
    {% endif %}

      <div class="jumbotron">
        {% if data_json %}
              <div class="chart"></div>

        {% else %}

<br>

          <h1>Welcome to DFA</h1>
          Please enter an absolute directory path containing your files and pick a graphical representation option.
<br>
          data = {{data}} <br>
          json data = {{data_json}}<br>
          {{options}}
        {% endif %}       
      </div>

     <div class="col-md-4">

      <form role="form" action {% url 'home' %}>

        <div class="form-group">
          <label class="sr-only" for="directoryInput">Path to Directory</label>
          <input type="text" class="form-control" id="directoryInput" placeholder="Path to Directory">
        </div>

        <div class="form-group">
          <label class="sr-only" for="disabledSelect">Disabled select menu</label>
          <select class="form-control" id="option">
            <option>Pick</option>
          <!-- for loop here  -->
          {% for o in options %}
            <option>{{o}}</option>
          {% endfor %}
            <option>dumb</option>

          </select>        
        </div>

        <div class="form-group" >
          <label class="sr-only" for="disabledSelect">Disabled select menu</label>
          <select class="form-control" id="change">
          <!-- for loop here  -->
            <option>hi my name is this is pretty long</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>        
        </div>

        <button type="submit" class="btn btn-default">Create Graph</button>
      </form>
</div>

{% endblock base-content %}

{% block base-scripts %}

<script type='text/javascript'>
//var data = {{data_json | safe}}
var jsonData = {{data_json | safe}}

//alert(data)
</script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<!-- <script src="/static/js/bar.js" type="text/javascript"></script> -->



{% endblock base-scripts %}