{% extends "DFA/base.html" %}

{% block graph-active %} class="active" {% endblock graph-active %}

{% block base-content %}
      <!-- Main component for a primary marketing message or call to action -->
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>


      {% if name %}
    <link href="/static/css/{{name}}.css" rel="stylesheet">

    <script type="text/javascript" src="/static/options/{{name}}.js"></script>
{% endif %}

      <div class="jumbotron">
        {% if graphname %}
              <div class="chart"></div>

        {% else %}

<br>

          <h1>Welcome to DFA</h1>
          Please enter an absolute directory path containing your files and pick a graphical representation option.
<br>
          data = {{data}} <br>
          json data = {{data_json}}<br>
          {{options}}
        {% endif %}       
      </div>

     <div class="col-md-4">

      <form role="form" action="{% url 'home' %}" method="post" id="graphform">

        {% csrf_token %}

        <div class="form-group">
          <label class="sr-only" for="directory">Path to Directory</label>
          <input type="text" class="form-control" name="directory" placeholder="Path to Directory">
        </div>

        <div class="form-group">
          <label class="sr-only" for="disabledSelect">Disabled select menu</label>
          <select class="form-control" id="method" name="method">
            <option id='temp' value="wrong">Choose Graphical Representation Method</option>
          <!-- for loop here  -->
          {% for o in options %}
            <option>{{o}}</option>
          {% endfor %}

          </select>        
        </div>

        <div class="form-group" >
          <label class="sr-only" for="disabledSelect">Disabled select menu</label>
          <select class="form-control" id="change" name="type">
          <!-- for loop here  -->
            <option value="wrong">Select Data Type (after choosing method)</option>
          </select>        
        </div>

        <button type="submit" class="btn btn-default">Create Graph</button>
      </form>
</div>



{% endblock base-content %}

{% block base-scripts %}



<script type="text/javascript">
$(document).ready(function () {

    $("#method").change(function () {
      $("#temp").remove().end();
      //alert($('#method').val());


    $.getScript("/static/options/types/"+$("#method").val()+"_type.js", function(){

       $("#change").find('option').remove().end();
      for (var i=0; i<types.length; i++) {
        $('#change').append(new Option(types[i], types[i]));

      }

       // Here you can use anything you defined in the loaded script
    });
  });

  $("#graphform").submit(function(event) {
    var directory = this.directory.value;
    if (directory == null || directory == "") {
      event.preventDefault();
      alert("You must add a path to a directory.");
      return false;
    }
    var method = this.method.value;
    //alert(method);
    if (method == "wrong") {
      event.preventDefault();
      alert("You must pick a graphical representation method");
      return false;
    }
    var type = this.method.value;
    if (type == "wrong") {
      event.preventDefault();
      alert("You must pick a data type");
      return false;
    }
    
  })



});
</script>


{% endblock base-scripts %}